src/app/TrueUnit.Console/bin/
src/app/TrueUnit.Console/obj
src/app/TrueUnit.VisualStudioAdpater/bin/
src/app/TrueUnit.VisualStudioAdpater/obj/
src/app/TrueUnit/bin/
src/app/TrueUnit/obj/
src/example/TrueUnit.ExampleProj/bin/
src/example/TrueUnit.ExampleProj/obj/
src/example/TrueUnit.ExampleTests/bin/
src/example/TrueUnit.ExampleTests/obj/
src/test/TrueUnit.Test/bin/
src/test/TrueUnit.Test/obj/
*.suo
